
*{
	margin: 0;
	padding: 0;
}
body {
  padding: 0 20px 0 20px;
  background-color: black;
}
.container-fluid{
	margin: 0;
	padding: 0;
}
.border{
	padding: 3px;
	border:2px dashed #fff;
}
section#img-font{
	background-image: url(calomel_image.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: auto;
	height: 650px;
}
.panel-body {
	background-color: black;
	opacity: 0.6;
}
.panel-body p {
	margin: 0;
	color: #fff;
	text-align: center;
}
.texto{
	text-align: justify;
	color: black;
	font-family: sans-serif;
	background: #FFFFFF;
	max-width: 450px;
	border-radius: 15px;
	font-size: 88%;
	opacity: 0.8;
	background-color: gray;
	margin-left: auto;
	padding: 10px;
}
.image-logo{
	margin-top: 20px;
	margin-left: 30px;
}

.center-button{
	/*margin-left: 300px;*/
	margin-top: 15px;
}
footer#feature{
	font-family: "Courier New", Courier, monospace;
	margin-top: 20px;
	color: #fff;
	/*padding: 0px 20px 0 20;*/
}
footer h2{
	font-size: 260%;
	color: #fff;
}
footer p{
	color: #EBA312;
}

